{% extends "base.html" %} {% block content %}
<div style="position: relative; height: 100%">
  <div id="map"></div>

  <div id="info-box">
    <p id="info-distancia"></p>
    <p id="info-duracao"></p>
    <button
      id="btn-salvar"
      class="btn btn-success btn-sm mt-2"
      style="display: none"
    >
      Salvar Rota
    </button>
    <div
      id="success-message"
      class="alert alert-success mt-2"
      style="display: none"
    >Rota salva com sucesso!</div>
  </div>
</div>
{% endblock %}
